---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { useTranslations } from '../i18n/utils';

const t = useTranslations('en');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={t('site.title')} description={t('site.description')} locale="en" />
	</head>
	<body>
		<Header />
		<main>
			<h1>{t('home.heading')}</h1>
			<p>{t('home.p1')}</p>
			<p>{t('home.p2')}</p>
			<p>{t('home.p3')}</p>
		</main>
		<Footer />
	</body>
</html>
