---
import Layout from '../../layouts/StaticPage.astro';
import { type Locale } from '../../i18n/locales';
import { getNonDefaultLocales, useTranslations } from '../../i18n/utils';

export function getStaticPaths() {
	return getNonDefaultLocales().map((lang) => ({
		params: { lang },
	}));
}

const { lang } = Astro.params;
const locale = lang as Locale;
const t = useTranslations(locale);
---

<Layout title={t('methodology.title')} description={t('methodology.description')} locale={locale}>
	<p>{t('methodology.intro')}</p>
	<h2>{t('methodology.h1')}</h2>
	<p>{t('methodology.p1')}</p>
	<h2>{t('methodology.h2')}</h2>
	<p>{t('methodology.p2')}</p>
	<h2>{t('methodology.h3')}</h2>
	<p>{t('methodology.p3')}</p>
	<h2>{t('methodology.h4')}</h2>
	<p>{t('methodology.p4')}</p>
</Layout>
