---
import Layout from '../../layouts/StaticPage.astro';
import { type Locale } from '../../i18n/locales';
import { getNonDefaultLocales, useTranslations } from '../../i18n/utils';

export function getStaticPaths() {
	return getNonDefaultLocales().map((lang) => ({
		params: { lang },
	}));
}

const { lang } = Astro.params;
const locale = lang as Locale;
const t = useTranslations(locale);
---

<Layout title={t('privacy.title')} description={t('privacy.description')} locale={locale}>
	<p>{t('privacy.intro')}</p>
	<h2>{t('privacy.h1')}</h2>
	<p>{t('privacy.p1')}</p>
	<h2>{t('privacy.h2')}</h2>
	<p>{t('privacy.p2')}</p>
	<h2>{t('privacy.h3')}</h2>
	<p>{t('privacy.p3')}</p>
	<h2>{t('privacy.h4')}</h2>
	<p>{t('privacy.p4')}</p>
	<h2>{t('privacy.h5')}</h2>
	<p>{t('privacy.p5')}</p>
</Layout>
